./package-lock.json
/settings.json
StarNet.jar
/server.lck
/.tags*
/.vs
/starmade/*
node_modules
/node_modules/*
*.bak*
StarMade-Starter.jar
temp*
*/old/*
/old/*
*.old
*.*.old
!mods-ServerDefaults/default/*
!mods-ServerDefaults/default/*/*
!mods-ServerDefaults/exampleMods/*
!mods-ServerDefaults/exampleMods/*/*
/mods-ServerDefaults/testMod
/mods-ServerDefaults/diversify
!mods-Wrapper/default/*
!mods-Wrapper/default/*/*
/mods-ServerDefaults/default/bin/old
/mods-ServerDefaults/default/bin/old/*
/mods-ServerDefaults/lvd
/mods-ServerDefaults/lvd/*
/logs/*
/bin/test.js
/bin/*.old
/bin/old
/bin/old/*
*.log
