/settings.json
StarNet.jar
/server.lck
/.tags*
/.vs
/starmade/*
/node_modules/*
*.bak*
StarMade-Starter.jar
temp*
*/old/*
*.old
!mods/default/*
!mods/default/*/*
!mods/exampleMods/*
!mods/exampleMods/*/*
/mods/testMod
/mods/diversify
/logs/*
/bin/test.js
*.log
